<a href="https://colab.research.google.com/github/Abhinash6767/Python_Basics/blob/main/ForLoop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loops**

A `for` loop acts as an iterator in Python, it goes through items that are in a sequence or any other iterable item. We can iterate over include `Strings, Lists, Tuples` and even built-in iterables for `Dictionaries`, such as keys or values.

```
for item in object:
  statements to do stuff
```

In [9]:
list1 = [1,2,3,'e',4,5, 'h']

for item in list1:
  if type(item) == str:
    print(item)
    # continue
  print(item)

1
2
3
e
e
4
5
h
h

In [13]:
list2 = [1,2,3,4,3,4,5,3,4,5,6,3,23,4,88]

for number in list2:
  if number % 2 == 0:
    print(number)
  else:
    print('odd')

odd
2
odd
4
odd
4
odd
odd
4
odd
6
odd
odd
4
88

In [16]:
total_sum = 0

for number in list2:
  total_sum += number
print(total_sum)

158

In [17]:
hello = 'hello world'

for letter in hello:
  print(letter)

h
e
l
l
o

w
o
r
l
d

In [19]:
tup = (1,2,3,4,5,'a', True)

for item in tup:
  print(item)

1
2
3
4
5
a
True

**Tuple Unpacking**

Tuples have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself. Below is the example of tuple unpacking. During the for loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple.

In [20]:
list3 = [(1,2), (4,5), (8,9)]

for tup in list3:
  print(tup)

(1, 2)
(4, 5)
(8, 9)

In [21]:
# with unpacking
# One way

for (a,b) in list3:
  print(a)
  print(b)

1
2
4
5
8
9

In [23]:
# with unpacking
# Another way

for (a) in list3:
  print(*a)

3

In [4]:
list3 = [(1,2), (4,5), (8,9)]

for s, item in enumerate(list3):
  print(item)

(1, 2)
(4, 5)
(8, 9)

In [7]:
for s, item in enumerate(list3):
  print(item, end='--' if s < len(list3) -1 else '\n')

(1, 2)--(4, 5)--(8, 9)

In [12]:
list4 = [1,2,3,4,3,4,23,4,5,3,54,3,45,3,4,3,4,9]

sum = 0
for item in list4:
  if(item % 2 == 0):
    sum += item

print(sum)

76